@import url(http://fonts.googleapis.com/css?family=Fredoka+One);

html {min-height: 100%;}
body {
  background-color: #031721; 
  font-family: 'Fredoka One', cursive;
  height: 100%;
}

#content {
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

#nav {
  margin: 0px 0px;
}

#title {
  font-weight: bold;
  font-size: 50px;
}

.long-shadow {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 25px;
  border: none;
  font: normal 60px/1 "Fredoka One", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 3px 0 #0199d9 , 4px 4px 0 #0199d9 , 5px 5px 0 #0199d9 , 6px 6px 0 #0199d9 , 7px 7px 0 #0199d9 , 8px 8px 0 #0199d9 , 9px 9px 0 #0199d9 , 10px 10px 0 #0199d9 , 11px 11px 0 #0199d9 , 12px 12px 0 #0199d9 , 13px 13px 0 #0199d9 , 14px 14px 0 #0199d9 , 15px 15px 0 #0199d9 , 16px 16px 0 #0199d9 , 17px 17px 0 #0199d9 , 18px 18px 0 #0199d9 , 19px 19px 0 #0199d9 , 20px 20px 0 #0199d9 ;
}

.fire {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 80px/normal "Anton", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) , -20px -20px 40px rgb(255,174,52) , 20px -40px 50px rgb(236,118,12) , -20px -60px 60px rgb(205,70,6) , 0 -80px 70px rgb(151,55,22) , 10px -90px 80px rgb(69,27,14) ;
}

.clear {
  clear: both;
}

.reset {
  margin-top: 30px;
  font-size: 1em;
}

.scores {
  color: black; 
  float: left;
  font-size: 1.5em;
  background-color: white;
  padding: 10px;
  border: 2px solid #20AAFF;
  text-align: left;
}

.message {
    color: black; 
    float: right;
    font-size: 1em;
    background-color: white;
    padding: 10px;
    border: 2px solid #20AAFF;
    text-align: left;
}

.message span {font-size: 2em; vertical-align: middle;}

/*THE BOARD*/

.board { 
    color: white;
    max-width: 350px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background-color: black;
    text-shadow: 3px 3px 0 #0199d9 , 4px 4px 0 #0199d9 , 5px 5px 0 #0199d9;
}

.squareRed {
    width:125px;
    height:125px;
    background-color: #FF342E; 
    font-size: 5em;
    color: black;
    border-radius: 25px;
  }


.square{
    width:125px;
    height:125px;
    background-color: #20AAFF;
    font-size: 5em;
    transition: all .5s;
    border-radius: 0px;   
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

#reset  {

  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 1px 1px 3px #7fd6ff;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

#reset:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


footer {
  background-color: black;
  text-align: center;
  width: 100%;
  height:30px;
  position: fixed;
  bottom: 0px;
  left:0px;
  color:white;
}


