@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {background-color: lightblue; font-family: 'Roboto', sans-serif;}

#content {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

#nav {
  margin: 50px 0px;
}

#title {
  color: #F52F4F;
  
  font-size: 50px;
}

.clear {
  clear: both;
}

.message {
  
  margin-top: 15px;
  font-size: 2em;
}

/*THE BOARD*/

#boxPlayed {background-color: white;}

.board { 
    
    color: white;
    max-width: 300px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

}

.squareBlue {background-color: blue;}

.squareRed {
    background-color: red; 
    width:100px;
    height:100px;}


.square{
    width:100px;
    height:100px;
    background-color: blue;
    
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}